<div class="container-fluid" style="padding-top:10px">
    <div class="card card-dark" style="height:50vh">
        <div class="card-body">
            <div id="calendar" style="width:100%"></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth'
            });
            calendar.render();
        });
    </script>
}