<div class="container-fluid" style="padding-top:10px">
    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h1 class="info-box-text">Dashboard</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="col-4">
                        <label>
                            Username
                        </label>
                    </div>
                    <div class="col-8">
                        <input type="text" />
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="col-4">
                        <label>
                            Password
                        </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="password" />

                    </div>
                </div>
                <br>
                <button class="btn btn-primary form-control">
                    Login
                </button>
            </form>
        </div>
    </div>

</div>